<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> abc39cca825440e7185697f18575bd6bb509588f
<!DOCTYPE html>

<html lang = "en">
  <head>
    <%- include('./partials/head'); %>
<<<<<<< HEAD
    <title>login</title> 
=======
      
>>>>>>> abc39cca825440e7185697f18575bd6bb509588f
  </head>
  <body>
    <!--Navigation bar-->
    <%- include('./partials/navbar'); %>
    <form action="" id="login-form">
<<<<<<< HEAD
        <input type="text" name="" id = "username" placeholder="Username" />
        <input type="password" name="" id="password" placeholder="Password" />
        <input type="submit" class="registerbtn "value="Login">
    </form>
  </body>
  <%- include('./partials/script'); %>
</html>
=======
<!DOCTYPE html>

<html lang = "en">
  <head>
    <%- include('./partials/head'); %>
      
  </head>
  <body>
    <!--Navigation bar-->
    <%- include('./partials/navbar'); %>
    <form action="" id="login-form">
      <div class = container>
        <input type="text" name="" id = "username" placeholder="Username" />
        <input type="password" name="" id="password" placeholder="Password" />
        <input type="submit" class="registerbtn" value="Login">
      </div>
    </form>
  </body>
  <%- include('./partials/script'); %>
</html>
>>>>>>> b43d6b6937031ee5e541f982d7a610fba34bd267
=======
      <div class = container>
        <input type="text" name="" id = "username" placeholder="Username" />
        <input type="password" name="" id="password" placeholder="Password" />
        <input type="submit" class="registerbtn" value="Login">
      </div>
    </form>
  </body>
  <%- include('./partials/script'); %>
</html>
>>>>>>> abc39cca825440e7185697f18575bd6bb509588f
